
@font-face {
    font-family: "GothamMedium";
    src: url("/assets/fonts/GothamSSm-Medium_Web.woff2") format("woff2");
    font-weight:normal;
}
@font-face {
    font-family: "GothamBold";
    src: url("/assets/fonts/GothamSSm-Bold_Web.woff2") format("woff2");
    font-weight:bold;
}
@font-face {
    font-family: "GothamLight";
    src: url("/assets/fonts/GothamSSm-Light_Web.woff2") format("woff2");
    font-weight:lighter;
}

@font-face {
    font-family: "Gotham";
    src: url("/assets/fonts/GothamSSm-Book_Web.woff2") format("woff2");
    font-weight:normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    color:#fff;
    text-decoration: none;
}

body{
    font-family: GothamLight;

}

.page-1{
    background: url('../assets/red-car.jpeg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw; 
    color:#fff;
}

.page-2{
    background: url('../assets/red-car.jpeg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw; 
}

.page-3{
    background: url('../assets/red-car.jpeg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw; 
}


.header{
    font-family: GothamLight;
    font-size: 14px;
    padding: 10px;
    position:relative;
    padding-top:20px;
    
}

.header ul li{
    list-style:none;
    display: inline;


}

.header ul li a{
    padding: 4px 13px;
}

.header ul li a:hover{
    background-color: rgb(109, 106, 106);
    border-radius: 10px;
}


.logo{
    display: inline-block;
    width:120px;
    height: 60px;
    margin-top: 20px;
    margin-left: 35px;
    position:fixed;
}

.center-nav{ 
    display: inline-block;
    text-align: center;  
    width:100%;
    margin:auto;
    

}

.right-nav{
    display: inline-block;
    /* float:right; */
    position: absolute;
    right: 20px;
}

.model h1{
    color:white;
    font-family: GothamMedium;
    font-size: 40px;
    margin: 100px 0px 8px;
    text-align: center;
}


.side-nav{
    margin-top:120px;
    position:fixed;
    margin-left: 10px;
}
.side-nav  li{
    color:#fff;
    list-style: none;
    font-size: 25px;
    margin:2px

}

.first-line:hover .first-hidden{
    visibility: visible;
}

.model3:hover .model-hid{
    visibility: visible;

}
.safety:hover .safe-hid{
    visibility: visible;

}
.preformance:hover .pref-hid{
    visibility: visible;

}



.hidden{
        font-size:10px;
        visibility:hidden;
        padding-left: 10px;
}

/* footer */
.model-footer .img{
    height: 30px;
    width:58px;
}


.model-footer div{
    /* border: solid white 1px; */
}

.model-footer{
    margin-top: 63vh;
    font-family: GothamMedium;
    font-size: 28px;
}

.model-footer .content{
    width:50%;
    height: 50%;
    margin:auto;
}

.model-footer .speed{
    width: 130px;
    position: relative;
}
.model-footer .speed .img {
    float: left;
}


.model-footer .speed .speed-num{
    float: right;
    height: 28px;
    
}

 footer .smfont{
    font-family: GothamLight;
    font-size:12px;
}

 .range{
     position: absolute;
     top:40px;
     left: 30%; 
}

.mils{
    width:200px;
        border: solid white 1px;

}

.cards{
    width:70%;
    height: 100px;
    margin:auto;
    border: solid pink 1px;
    margin-top: 550px;

}


.card{
    height: 80%;
    width: 25%;
    border: solid white 1px;
    float: left;


}
/* .side-nav li:first-child{
     font-weight: bolder;    
} */


